name: myservices
x-podman:
  in_pod: false
services:
  ssh:
    image: lscr.io/linuxserver/openssh-server:version-10.0_p1-r7@sha256:d32caf5bd3bc68bad4a30716638929e345d015cc0cfe6692a3f99015c288e23b
    pull_policy: always
    environment:
      - PUID=${COMPOSE_PUID:-1000}
      - PGID=${COMPOSE_PGID:-1000}
      - TZ=${COMPOSE_TZ:-Etc/UTC}
      - PASSWORD_ACCESS=false
      - SUDO_ACCESS=false
      - USER_NAME=${COMPOSE_SSH_USERNAME:-sshuser}
    ports:
      - 2222:2222
    restart: unless-stopped
  nix:
    image: docker.io/nixos/nix:2.33.1@sha256:d5cce2440bda1f966357732c06d86cb92368069fb52dfb6b2bae8725eea488a5
    pull_policy: always
    volumes:
      - ${NIX_CONFIG_PATH:-.}:/config:Z
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    working_dir: /config
    entrypoint: /bin/sh -c
    command: sh
  renovate:
    image: docker.io/renovate/renovate:42.95@sha256:f0fdd64663c0e0b41e8f2ec6ab4cf67e91ee5f15c1549fd5489ce04c8b9a18af
    pull_policy: always
    environment:
      - RENOVATE_AUTODISCOVER=${RENOVATE_AUTODISCOVER:-false}
    env_file:
      - path: ${COMPOSE_ENV_PATH}
        required: false
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
  searxng:
    image: docker.io/searxng/searxng:2026.1.11-cf74e1d9e@sha256:35e3520e53621e22566330d876d2a36e4a556628b6567bf2706ceb211c6d9c07
    pull_policy: always
    restart: unless-stopped
    ports:
      - 8888:8080
  nodejs:
    image: quay.io/michaelvaldron/node-dev:v0.1.0@sha256:91ab754ac5bf6b5715e26b4c3ab2f9a3a7175bee28a109c5c63f844cc8f8718b
    pull_policy: always
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    ports:
      - 3000:3000
      - 9229:9229
    volumes:
      - ${PWD}:/project:Z
    working_dir: /project
    entrypoint: /bin/sh -c
    command: sh
  golang-next:
    image: docker.io/library/golang:1.26rc3-alpine3.23@sha256:343c20fd6876bfb5ba9f46b0a452008b7dced3804e424ff7ada0ceadafad5c55
    pull_policy: always
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    volumes:
      - ${PWD}:/go/src/app:Z
    working_dir: /go/src/app
    entrypoint: /bin/sh -c
    command: sh
  golang:
    image: docker.io/library/golang:1.25.7-alpine3.23@sha256:81d49e1de26fa223b9ae0b4d5a4065ff8176a7d80aa5ef0bd9f2eee430afe4d7
    pull_policy: always
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    volumes:
      - ${PWD}:/go/src/app:Z
    working_dir: /go/src/app
    entrypoint: /bin/sh -c
    command: sh
  golang-previous:
    image: docker.io/library/golang:1.24.13-alpine3.23@sha256:2bfff436e8ff17b88d512ca015ee88de4d1badde0e59c666c1f7c52b4fd50a93
    pull_policy: always
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    volumes:
      - ${PWD}:/go/src/app:Z
    working_dir: /go/src/app
    entrypoint: /bin/sh -c
    command: sh
  clj:
    image: docker.io/library/clojure:temurin-25-tools-deps-1.12.4.1602-alpine@sha256:a5e473efbe877b07ecf6eed72337ba105fd4911aa65cb6e9b33c9a28f942a146
    pull_policy: always
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    volumes:
      - ${PWD}:/usr/src/app:Z
    working_dir: /usr/src/app
    entrypoint: /bin/sh -c
    command: sh
  clj-lein:
    image: docker.io/library/clojure:temurin-25-lein-2.12.0-alpine@sha256:04acf054eb570c1c7eec34da0eb88c4c5b2a3cdf02763354d59807e1b360f335
    pull_policy: always
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    volumes:
      - ${PWD}:/usr/src/app:Z
    working_dir: /usr/src/app
    entrypoint: /bin/sh -c
    command: sh
  python:
    image: ghcr.io/astral-sh/uv:0.9.28-python3.14-alpine3.23@sha256:54419a99f65f6ab61ac885d8d8871bd255b62539e48d745bdb6b1b963f49fe45
    pull_policy: always
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    volumes:
      - ${PWD}:/usr/src/app:Z
    working_dir: /usr/src/app
    entrypoint: /bin/sh -c
    command: sh
  ollama:
    image: docker.io/ollama/ollama:0.15.4@sha256:37ef34d78a6f4563a11cbbb336bbaa75f01eb19671d639973f98baa58f11a5ed
    pull_policy: always
    restart: unless-stopped
    user: "1000:1000"
    userns_mode: keep-id:uid=1000,gid=1000
    volumes:
      - ${HOME}/.ollama:/home/ubuntu/.ollama:Z
    ports:
      - 11434:11434
  open-webui:
    image: ghcr.io/open-webui/open-webui:v0.7.2@sha256:16d9a3615b45f14a0c89f7ad7a3bf151f923ed32c2e68f9204eb17d1ce40774b
    pull_policy: always
    restart: unless-stopped
    environment:
      - WEBUI_AUTH=False
    volumes:
      - ${HOME}/.open-webui:/app/backend/data:Z
    ports:
      - 3002:8080
