name: myservices
services:
  ssh:
    image: lscr.io/linuxserver/openssh-server:version-10.0_p1-r7@sha256:d32caf5bd3bc68bad4a30716638929e345d015cc0cfe6692a3f99015c288e23b
    pull_policy: always
    environment:
      - PUID=${COMPOSE_PUID:-1000}
      - PGID=${COMPOSE_PGID:-1000}
      - TZ=${COMPOSE_TZ:-Etc/UTC}
      - PASSWORD_ACCESS=false
      - SUDO_ACCESS=false
      - USER_NAME=${COMPOSE_SSH_USERNAME:-sshuser}
    ports:
      - 2222:2222
    restart: unless-stopped
  nix:
    image: docker.io/nixos/nix:2.32.2@sha256:04abdb9c74e0bd20913ca84e4704419af31e49e901cd57253ed8f9762def28fd
    pull_policy: always
    volumes:
      - ${NIX_CONFIG_PATH:-.}:/config:Z
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: /config
  renovate:
    image: docker.io/renovate/renovate:41.158@sha256:124c758ad2aa38e5fe026dd5e897631372eb439d050343379de923bd5da4e814
    pull_policy: always
    environment:
      - RENOVATE_AUTODISCOVER=${RENOVATE_AUTODISCOVER:-false}
    env_file:
      - path: ${COMPOSE_ENV_PATH}
        required: false
    user: "${UID:-1000}:${GID:-1000}"
