name: myservices
services:
  ssh:
    image: lscr.io/linuxserver/openssh-server:version-10.0_p1-r7@sha256:d32caf5bd3bc68bad4a30716638929e345d015cc0cfe6692a3f99015c288e23b
    pull_policy: always
    environment:
      - PUID=${COMPOSE_PUID:-1000}
      - PGID=${COMPOSE_PGID:-1000}
      - TZ=${COMPOSE_TZ:-Etc/UTC}
      - PASSWORD_ACCESS=false
      - SUDO_ACCESS=false
      - USER_NAME=${COMPOSE_SSH_USERNAME:-sshuser}
    ports:
      - 2222:2222
    restart: unless-stopped
  nix:
    image: docker.io/nixos/nix:2.33.1@sha256:d5cce2440bda1f966357732c06d86cb92368069fb52dfb6b2bae8725eea488a5
    pull_policy: always
    volumes:
      - ${NIX_CONFIG_PATH:-.}:/config:Z
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: /config
  renovate:
    image: docker.io/renovate/renovate:42.95@sha256:f0fdd64663c0e0b41e8f2ec6ab4cf67e91ee5f15c1549fd5489ce04c8b9a18af
    pull_policy: always
    environment:
      - RENOVATE_AUTODISCOVER=${RENOVATE_AUTODISCOVER:-false}
    env_file:
      - path: ${COMPOSE_ENV_PATH}
        required: false
    user: "${UID:-1000}:${GID:-1000}"
  searxng:
    image: docker.io/searxng/searxng:2026.1.11-cf74e1d9e@sha256:35e3520e53621e22566330d876d2a36e4a556628b6567bf2706ceb211c6d9c07
    pull_policy: always
    restart: unless-stopped
    ports:
      - 8888:8080
  nodejs:
    image: quay.io/michaelvaldron/node-dev:v0.1.0@sha256:91ab754ac5bf6b5715e26b4c3ab2f9a3a7175bee28a109c5c63f844cc8f8718b
    pull_policy: always
    ports:
      - 3000:3000
      - 9229:9229
    volumes:
      - ${PWD}:/project:Z
    working_dir: /project
  golang-next:
    image: docker.io/library/golang:1.26rc2-alpine3.23@sha256:e804069354d9d4425f787964a0c3341a46a7b143f04b3396f35767f166a601ec
    pull_policy: always
    volumes:
      - ${PWD}:/go/src:Z
    working_dir: /go/src
  golang:
    image: docker.io/library/golang:1.25.6-alpine3.23@sha256:98e6cffc31ccc44c7c15d83df1d69891efee8115a5bb7ede2bf30a38af3e3c92
    pull_policy: always
    volumes:
      - ${PWD}:/go/src:Z
    working_dir: /go/src
  golang-previous:
    image: docker.io/library/golang:1.24.12-alpine3.23@sha256:cac3bbfd11d3b7c0a134172aabafb8ab415abb8efefc313ba25d20bb94d0155f
    pull_policy: always
    volumes:
      - ${PWD}:/go/src:Z
    working_dir: /go/src
