name: myservices
x-podman:
  in_pod: false
services:
  ssh:
    image: lscr.io/linuxserver/openssh-server:version-10.0_p1-r7@sha256:d32caf5bd3bc68bad4a30716638929e345d015cc0cfe6692a3f99015c288e23b
    pull_policy: always
    environment:
      - PUID=${COMPOSE_PUID:-1000}
      - PGID=${COMPOSE_PGID:-1000}
      - TZ=${COMPOSE_TZ:-Etc/UTC}
      - PASSWORD_ACCESS=false
      - SUDO_ACCESS=false
      - USER_NAME=${COMPOSE_SSH_USERNAME:-sshuser}
    ports:
      - 2222:2222
    restart: unless-stopped
  nix:
    image: docker.io/nixos/nix:2.33.3@sha256:37eafc36261a1efaf9b17f3e0cfb450be00893087e3797bd1e3be4df68dfe6fe
    pull_policy: always
    volumes:
      - ${NIX_CONFIG_PATH:-.}:/config:Z
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
    working_dir: /config
    entrypoint: /bin/sh -c
    command: sh
  renovate:
    image: docker.io/renovate/renovate:42.99@sha256:55257c9f54eff5382abacb0a119ba2357566cb01cdbf0a35f152e24729ab8e64
    pull_policy: always
    environment:
      - RENOVATE_AUTODISCOVER=${RENOVATE_AUTODISCOVER:-false}
    env_file:
      - path: ${COMPOSE_ENV_PATH}
        required: false
    user: "${UID:-1000}:${GID:-1000}"
    userns_mode: keep-id
  searxng:
    image: docker.io/searxng/searxng:2026.1.11-cf74e1d9e@sha256:35e3520e53621e22566330d876d2a36e4a556628b6567bf2706ceb211c6d9c07
    pull_policy: always
    restart: unless-stopped
    ports:
      - 8888:8080
  dev:
    image: quay.io/michaelvaldron/dev:1.0.0@sha256:461a889bc5d212dca59f0c9f65fd1d0509e4a31266a49deef0eea282c8794649
    pull_policy: always
    userns_mode: keep-id:uid=1000,gid=1000
    volumes:
      - ${PWD}:/project:Z
  ollama:
    image: docker.io/ollama/ollama:0.17.4@sha256:b165fa2700dc374f8d4f9e8314d81c7be75487c76eee2b46ef4b511a496b736c
    pull_policy: always
    restart: unless-stopped
    user: "1000:1000"
    userns_mode: keep-id:uid=1000,gid=1000
    volumes:
      - ${HOME}/.ollama:/home/ubuntu/.ollama:Z
    ports:
      - 11434:11434
  open-webui:
    image: ghcr.io/open-webui/open-webui:v0.8.3@sha256:205e9cf23b66553643b065afcdeffb7f86b35bf36e0ce643dc56946a911954b7
    pull_policy: always
    restart: unless-stopped
    environment:
      - WEBUI_AUTH=False
    volumes:
      - ${HOME}/.open-webui:/app/backend/data:Z
    ports:
      - 3002:8080
