name: myservices
services:
  ssh:
    image: lscr.io/linuxserver/openssh-server:version-10.0_p1-r7@sha256:d32caf5bd3bc68bad4a30716638929e345d015cc0cfe6692a3f99015c288e23b
    pull_policy: always
    environment:
      - PUID=${COMPOSE_PUID:-1000}
      - PGID=${COMPOSE_PGID:-1000}
      - TZ=${COMPOSE_TZ:-Etc/UTC}
      - PASSWORD_ACCESS=false
      - SUDO_ACCESS=false
      - USER_NAME=${COMPOSE_SSH_USERNAME:-sshuser}
    ports:
      - 2222:2222
    restart: unless-stopped
  nix:
    image: docker.io/nixos/nix:2.32.4@sha256:0d9c872db1ca2f3eaa4a095baa57ed9b72c09d53a0905a4428813f61f0ea98db
    pull_policy: always
    volumes:
      - ${NIX_CONFIG_PATH:-.}:/config:Z
    user: "${UID:-1000}:${GID:-1000}"
    working_dir: /config
  renovate:
    image: docker.io/renovate/renovate:41.173@sha256:e998e1218fe572e23278d8808186a310784f7cb2ac8055307183ffc51d3a59e5
    pull_policy: always
    environment:
      - RENOVATE_AUTODISCOVER=${RENOVATE_AUTODISCOVER:-false}
    env_file:
      - path: ${COMPOSE_ENV_PATH}
        required: false
    user: "${UID:-1000}:${GID:-1000}"
  searxng:
    image: docker.io/searxng/searxng:2025.11.24-5fcee9bc3@sha256:4cf7a26323427642f28a9f98f342b3ac91d356d7de0828ad2646f60647919ed4
    pull_policy: always
    restart: unless-stopped
    ports:
      - 8888:8080
